body {
  font-family: OpenSans, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: min(100%, 1920px);
  margin: 0 !important;
}
div {
  display: flex;
}
.layout {
  max-width: 1440px;
  flex: 1;
}
/*#region menu*/

/*#region menu screen*/
.menu {
  width: auto;
  max-height: 40px;
  flex: 1;
  background: #fff;
  flex-shrink: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.menu-slide {
  display: none;
  position: absolute;
  padding: 18px 20px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  left: 0;
  right: 0;
  z-index: 10;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.menu-slide-top {
  justify-content: flex-end;
  width: 100%;
}
.menu-logo {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}
.menu-buttons {
  justify-content: flex-end;
}
.menu-buttons-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 4px;
  justify-content: center;
  align-items: center;
}
.menu-buttons-button__margin-left {
  margin-left: 24px;
}
.menu-buttons-button__hidden {
  display: none;
}
.menu-layout {
  padding: 12px 26px 16px 26px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-height: 40px;
}

.menu-buttons-button-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.menu-content {
  width: auto;
  height: 277px;
  padding: 80px 20px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.menu-menu-bar {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  color: black;
}
li {
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}

/*#endregion*/

/*#endregion*/

/*#region content*/
.content {
}
.content-main-image {
  max-width: 686px;
}
.content-layout {
  flex-direction: row;
  flex: 1;
}
.content-right {
  flex-direction: column;
  float: left;
  margin-top: 44px;
  margin-left: 36px;
}
.content-right-nameTag {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
}

.content-right-articul {
  color: #828282;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  margin-top: 8px;
}
.content-right-reviews {
  margin-top: 18px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
}
.content-right-star {
  width: 12px;
  margin-bottom: 3px;
}
.content-right-reviews2 {
  margin-left: 4px;
}
.content-right-price {
  margin-top: 46px;
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.content-right-price2 {
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.56px;
  text-decoration-line: line-through;
  margin-left: 12px;
}
.content-right-discount {
  margin-top: 12px;
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  align-items: center;
}
.content-right-discount1 {
  border: 1px solid #333;
  margin-right: 9px;
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content-right-discount2 {
  border: 1px solid #333;
  padding: 4px 8px;
  flex-direction: column;
  align-items: center;
}
.content-right-size {
  text-align: left;
  margin-top: 32px;
  max-width: 315px;
  max-height: 44px;
  padding: 8px;
  align-items: center;
  gap: 170px;
  border: 1px solid #333;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
}
.content-right-arrow2 {
  rotate: 90deg;
  cursor: pointer;
}
.content-right-autosize {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  text-decoration-line: underline;
  margin-top: 12px;
}
/*#region content-right-counter*/
.content-right-counter {
  margin-top: 40px;
  height: 44px;
  width: 145px;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}
.content-right-counter span {
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
  user-select: none;
}
.content-right-counter span.num {
  font-size: 14px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
  color: #333;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.56px;
}
.content-right-counter-atc {
}
.content-right-atc-button {
  margin-top: 40px;
}
.content-right-button {
  margin-top: 40px;
  cursor: pointer;
}
.content-right-button__margin-left {
  margin-left: 12px;
}
.content-right-button-heart {
  margin-top: 40px;
  cursor: pointer;
}
.content-right-button-heart__margin-left {
  margin-left: 4px;
}
/*#endregion*/
.content-right-buynow {
  margin-top: 12px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  text-decoration-line: underline;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.content-right-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #e6e9f0;
  box-shadow: 5px 5px 50px 0px rgba(121, 121, 121, 0.1);
}
.content-right-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 454px;
  flex-direction: column;
}
.content-right-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: end;
}
.content-right-modal-close:hover,
.content-right-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.content-right-modal-input {
  display: flex;
  width: 276px;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #303030;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
}
.content-right-modal-phone {
  margin-top: 40px;
  border: none;
  background: #fdfcfc;
  width: 330px;
  height: 63px;
  flex-shrink: 0;
}
.content-modal-phone-input {
  width: 330px;
  height: 63px;
  flex-shrink: 0;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-indent: 20px;
}
.content-modal-name-input {
  width: 330px;
  height: 63px;
  flex-shrink: 0;
  color: #303030;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-indent: 20px;
}
.content-right-modal-name {
  margin-top: 16px;
  padding-bottom: 11px;
}
.content-right-modal-text {
  margin-top: 20px;
  display: flex;
  width: 330px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #303030;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.1px;
}
.content-right-modal-terms {
  color: #303030;
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.1px;
  text-decoration-line: underline;
}
.content-right-modal-send {
  margin-top: 33px;
}
hr.solid {
  margin-top: 29px;
  border-top: 0.5px solid #c4c4c4;
  width: 100%;
  margin-bottom: 20px;
}
.content-right-itemdesc {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  text-decoration-line: underline;
  gap: 4px;
}
.content-right-delivery {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  text-decoration-line: underline;
  gap: 4px;
  margin-top: 12px;
}
.content-right-pay {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  text-decoration-line: underline;
  gap: 4px;
  margin-top: 12px;
}
.content-left {
  flex: 1;
  max-width: 686px;
  margin: 5px;
}
.content-left-image {
  margin-left: -94px;
  width: 686px;
  height: 878px;
}
.content-left-image-img {
  width: 100%;
  height: 100%;
}
.content-left-imgMenu {
  margin-top: 24px;
  margin-left: 24px;
  flex-direction: column;
  z-index: 9;
}
.content-left-imgMenu-item {
  cursor: pointer;
  width: 70px;
  height: 91px;
}
.content-left-imgMenu-item-img {
  width: 100%;
  height: 100%;
}
.content-left-imgMenu-item__marginTop {
  margin-top: 7px;
}
/*endregion*/

.footer {
  margin-left: 5px;
  margin-top: 80px;
  display: flex;
  width: auto;
  gap: 16px;
}
.footer-content {
  margin-bottom: 58px;
  flex-direction: row;
}
/*#region footer content left*/
.footer-content-left {
  flex-direction: column;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.footer-content-left-catalogue {
  text-transform: capitalize;
  margin-top: 16px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
}
.footer-content-left-brands {
  margin-top:8px;
  text-transform: capitalize;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
}
.footer-content-left-discounts {
  text-transform: capitalize;
  margin-top: 8px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
}
/*#endregion*/

/*#region footer content center*/
.footer-content-center {
  margin-left: 225px;
  margin-right: 299px;
  flex-direction: column;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.footer-content-center-company {
  margin-top: 16px;
  text-transform: none;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
}
.footer-content-center-news {
  margin-top: 8px;
  text-transform: capitalize;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
}
.footer-content-center-team {
  text-transform: capitalize;
  margin-top: 8px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  cursor: pointer;
}
/*#endregion*/

/*#region footer content right*/
.footer-content-right {
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.footer-content-input-email {
  padding: 16px 0 24px 0;
  justify-content: left;
  align-items: center;
}
.footer-content-input-email2 {
  width: 452px;
  height: 44px;
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.56px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  text-indent: 8px;
}
.footer-content-right-subscribe {
  justify-content: flex-end;
  margin-top: 11px;
  cursor: pointer;
  margin-bottom: 34px;
}
/*#endregion*/

/*#region media*/
@media (max-device-width: 800px) and (max-width: 800px) {
  .menu-buttons-button__hidden {
    display: flex;
  }
  .menu-layout {
    padding: 22px 20px 0px 20px;
    max-height: none;
  }
  .menu {
    box-shadow: none;
    max-height: none;
  }
  .content-layout {
    flex-direction: column;
  }
  .content-left-image {
    width: 100%;
    height: auto;
  }
  .content-left {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
.footer {
  flex-direction: column;}}
/*#endregion*/
